.App {
  text-align: center;
}

.navelement {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.navelement img {
  height: 40px;
}

.footerelement ul.footerlist {
  list-style-type: none;
  padding: 0;
}

